extends layout

block content
  img(src="http://pcdn1.circleme.com/assets/logos/logo_round-06c38981fcab20a91b87a5d946692744.png" class="logo")
  h1= title
  if links
    li 
      a(href='/me') Profile
    li 
      a(href='/likes') Likes
    li 
      a(href='/todos') Todos
  else
    li 
      a(href='/auth') Get Access Token